@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.icon:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}


body {
  padding: 25px 50px;
  margin: 5px;
  background: url("../img/confectionary.png");
  background-attachment: fixed;
  text-align: center;
 
}


aside {
  padding: 40px 20px;
  margin: 50px;
 border-bottom: solid 1px;

}

.weather {

  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: .75em;

  border-top: solid 1px;
}

.weather h2 {
  margin: 10px;
  padding: 10px;
  color: #181C20;
  font-size: 3em;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
 
}

h3 {
  font-size: 1em;
  color: #181C20;
  text-align: center;
  margin: 5px;
  font-family: 'Martel Sans', sans-serif;
}

.weather ul {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  font-family: 'Martel Sans', sans-serif;
}

.weather li {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  font-family: 'Martel Sans', sans-serif;

  
}

p {

  display: block;
}

.weather .currently {
  margin: 0 auto;
}

#weather2 {
 
  margin-top: 30px;
  margin: 10px;
  padding: 10px;
  color: #181C20;
  font-size: .75em;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
 
}

#weather3 {
 
  margin-top: 30px;
  margin: 10px;
  padding: 10px;
  color: #181C20;
  font-size: .75em;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
 
}
/*Button Syling*/

.button li {
  list-style: none;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1em;
 text-align: left;

  
}

button {
  font-family: 'Martel Sans', sans-serif;
  font-size: .75em;
  color: #4FB7C4;
  text-align: center;
}

h4 {
  font-family: 'Martel Sans', sans-serif;
  font-size: .75em;
  color: #1C3A54;
  text-align: center;
}

#getWeather {
   font-family: 'Martel Sans', sans-serif;
  font-size: .75em;
  color: #4FB7C4;

}

.forecast {
  padding: 25px;
  margin: 25px;
}

.fair {
  background: #AFE4D6;
}

.cloudy {
  background: #C2D9EB;
}

.sunny {
  background: #ECEA8E;
  font-family: 'Philosopher', sans-serif;
 
}

.flurry {
  background: #A4B7BC;
  font-family: 'Martel Sans', sans-serif;
  color: #1E2729;
 
}
